body {
    font-family: 'Buda', cursive;
    font-family: 'Cabin', sans-serif;
}

/* 
a:link, a:visited {
    text-decoration: none;
    color: black;
}
*/



/* Home */
nav{
    background-color: #563D7C;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}


.landing_pic {
    background-image: url(assets/meeting.jpg);
    min-height: 600px;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:brightness(50%);

}

.landing_title {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    line-height: 2em;
    color: white;
    text-shadow: 1px 1px 20px black;
}

.about {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -25%);
    line-height: 2em;
    color: white;
    text-shadow: 1px 1px 20px black;
    /*
    border: 2px solid blanchedalmond;
    background-color: rgb(255, 235, 205, .7);
    */
}

.about_header{
    width: 1000px;
    text-align: center;
    position: absolute;
    top: 25%;
    color: white;
    text-shadow: 1px 1px 20px black;
    overflow: hidden;
}

#about_header1{
    font-size: 5vw; 
    line-height: 10%vh;

    word-break: break-word;
}

#about_header2{
    font-size: 3vw; 
    word-break: break-word;
}

.about_text{
    margin-left: 10em; 
    margin-right: 10em; 
}

form{
    background-color: #E2DCEC;
    padding-top: 25px;
    padding-bottom: 35px;
    margin-left: 50px;
    margin-right: 50px;
}

#submit_button{
    width: 100%;
    display: block;
}


/* Recent Work */
.recentwork_landing_pic {
    background-image: url(assets/chair.png);
    min-height: 600px;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(80%);
}

#work_header{
    text-align: center;
    margin-top: 150px;
}

.khlalilah_container {
    position: relative;
}

.khalilah_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    transition: .5s ease;
    backface-visibility: hidden;
    z-index: 10;
    width: 50%;

}

.khalilah_btn  {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.khalilah_img:hover{
    background-color: black;
    filter: brightness(50%); 
}
  
.khlalilah_container:hover .khalilah_btn {
    opacity: 1;
}

#atm{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 3em;
}

.text {
    background-color: rgb(255, 235, 205, .8);
    color: black;
    font-size: 30px;
    padding: 16px 32px;
    border: none;
  }

hr {
    margin-top: 100px;
    margin-bottom: 100px;
}

#moreinworks {
    margin-top: -95px;
}

.more_container {
    border: 2px solid blanchedalmond;
    text-align: center;
    background-color: rgb(255, 235, 205, .5);
    width: 50%;
    height: 400px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.rotate {
    animation: rotation 8s infinite linear;
}
  
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.icon_container {
    position: absolute;
    top: calc(40% + 30px);
    left: calc(50% + 3px);

}

#icon_big {
    position: absolute;
    top: 23px;
    right: 40px;
}

#icon_small {
    position: absolute;
    top: 52px;
    left: 12px;
}

/* curriculum */
.curriculum_landing_pic {
    background-image: url(assets/glass.jpg);
    min-height: 600px;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(80%);
}

.indent{
    text-indent: 5%;
}


/* Calendar */
.calendar_landing_pic {
    background-image: url(assets/calendar.jpg);
    min-height: 500px;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(70%);
}


iframe{
    width: 90%;
    height: 800px;
    display: block;
    margin: 30px auto;
}

/* Press */
.press_landing_pic {
    background-image: url(assets/hands.jpg);
    min-height: 600px;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(90%);
}
